<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %> - Upload Form</title>
	<style>
		body {
			font-family: Helvetica, sans-serif;
			margin: 2.5em 3.75em;
			min-height: 100vh;
		}
		
		h1 {
			font-size: 3em;
		}
		
		#dragdrop {
			display: none;
		}
		
		.drag #dragdrop {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.9);
			font-size: 3em;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 2;
		}
		
		.drag input[type=file] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 3;
		}
		
		#dragdrop p {
			padding: 1em;
			background: #eee;
			border: 5px dashed dodgerblue;
		}
		
		#dragdrop p:hover {
			border-color: #000;
		}
		
		@keyframes hide {
			0%   { transform: translate(0, 0); }
			100% { transform: translate(0, -100%); }
		}
		
		.message {
			animation-name: hide;
			animation-duration: 1s;
			animation-delay: 1s;
			animation-fill-mode: forwards;
			
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: dodgerblue;
			color: #fff;
			padding: 0.5em;
			margin: 0;
			text-align: center;
			-webkit-font-smoothing: antialiased;
		}
	</style>
</head>
<body>

	<%if (message) { %>
	<p class="message"><%= message %></p>
	<% } %>
	

	<h1><%= title %></h1>
	
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="file">
		
		<p>You may also drag and drop files here</p>
	</form>
	
	<div id="dragdrop">
		<p>Drop file here</p>
	</div>
	
	<script>
		var form = document.querySelector('form')
		var input = document.querySelector('input[type=file]')
		var dragdrop = document.querySelector('#dragdrop')
		
		function addClass() {
			document.body.classList.add('drag')
		}
		
		function removeClass() {
			document.body.classList.remove('drag')
		}
		
		function submit() {
			form.submit()
		}
		
		window.addEventListener('dragstart', addClass)
		window.addEventListener('dragenter', addClass)
		window.addEventListener('dragend', removeClass)
		window.addEventListener('dragleave', function(e) {
			console.dir(e.target)
			if(e.target == input) {
				removeClass()
			}
		})
		window.addEventListener('dragover', function(e) { e.preventDefault() })
		window.addEventListener('drop', submit)
		form.addEventListener('change', submit)
	</script>
</body>
</html>